<p id="notice"><%= notice %></p>

<h1><U>Ajaxmails :</U></h1></br>

<%= link_to "Recevoir un email", emails_path, method: :post, class: "btn btn-primary", remote: true %>

</br>
</br>

<div class="card bg-light mb-3 text-center">
<table>
  <thead class="card-header">
    <tr>
      <th>Emails :</th>
      <th>Emails selectionnés :</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="emaillist" class="card-body">
    <% @emails.each do |email| %>
      <tr>
        <td><%= link_to "#{email.object}", email_path(email), id: "toclick", remote: true%></td>
    <% end %>
        <td class="showcard" id = "email_show"></td>
      </tr>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Email', new_email_path %>
